{extend name='common' /}
{block name='content'}
<div class="aboutbg" style="background-image: {$v['image']} !important;">
    <div class="container animated bounceInUp">
        <h2>{$nav['title']}</h2>
        <p>{$nav['description']}</p>

    </div>
</div>
<div class="newnav">
    <div class="container">
        <div class="row">
            <div class="col-lg-1 col-xs-3"><a href="about.html" class="current">&nbsp;</a></div>
            <div class="col-lg-1 col-xs-3"><a href=""></a></div>
            <div class="col-lg-1 col-xs-3"><a href=""></a></div>
            <div class="col-lg-1 col-xs-3"><a href="contact.html">  </a></div>
        </div>
    </div>
</div>
<div class="contact">
    <h2>{$contact['title']}</h2>
    <div class="container">
       {$contact['content']|raw}
    </div>

</div>
{/block}
