{extend name="app" /}

{block name="content"}

<div class="page-header">
    <h4 class="page-title">{$nav}</h4>
    <ul class="breadcrumbs">
        <li class="nav-home">
            <a href="/admin/home">
                <i class="flaticon-home"></i>
            </a>
        </li>
        <li class="separator">
            <i class="flaticon-right-arrow"></i>
        </li>
        <li class="nav-home">
            <a href="/admin/nav">
                导航栏
            </a>
        </li>
        <li class="separator">
            <i class="flaticon-right-arrow"></i>
        </li>
        <li class="nav-item">
            <a href="/admin/goods/{$cid}">{$nav}</a>
        </li>
        <li class="separator">
            <i class="flaticon-right-arrow"></i>
        </li>
        <li class="nav-item">
            <a href="">{$nav}编辑</a>
        </li>

    </ul>
</div>
<div class="row">
    <div class="col-md-12">
        <ul class="nav nav-line nav-color-secondary">
            <li class="nav-item">
                <a class="nav-link " href="/admin/goods/{$cid}">{$nav}展示</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link active" href="/admin/goods_create/{$cid}">{$nav}编辑</a>
            </li>

        </ul>
        <div class="card mt-2">
            <div class="card-header">
                <div class="card-title">{$nav}编辑</div>
            </div>

            <form action="" id="form" method="post" enctype="multipart/form-data">
                <div class="card-body">
                    {include file='../application/admin/layout/_error.html' /}
                    <input type="hidden" name="cid" value="{$cid}">
                    <div class="form-group">
                        <label>产品名称</label>
                        <input type="text" class="form-control input-square" name="name" value="{$filed['name']?:''}" placeholder="请输入产品名称">
                    </div>

                    <div class="form-group">
                        <label>产品描述</label>
                        <input type="text" class="form-control input-square" name="description" value="{$filed['description']?:''}" placeholder="请输入产品描述">
                    </div>
                    <div class="form-group">
                        <label>功能介绍</label>
                        <textarea class="form-control" name="Introduction"  placeholder="请输入功能介绍"  rows="5">{$filed['Introduction']?:''}</textarea>
                    </div>
                    <div class="form-group">
                        <label>产品缩略图</label>
                        <input type="hidden" name="image" value="" id="image-input">
                        <div class="col-xl-2">
                            <div class="card-body" style="margin-left: -32px;margin-top: -15px">
                                <a href="javascript:;" class="btn btn-info form-control-file" onclick="uploads()">
											<span class="btn-label">
												<i class="fa fa-upload"></i>
											</span>
                                    上传图片
                                </a>
                            </div>
                        </div>
                        <input type="file" id="file" name="image" style="display: none">
                        <div class="col-xl-2">
                            <div class="card-body" style="margin-left: -32px;margin-top: -20px">
                                <img src="{:session('old')['image']?:$filed['image']}" id="img" alt="..." width="300">
                            </div>
                        </div>
                    </div>

                </div>
                <div class="card-action">
                    <button class="btn btn-success">提交</button>
                    <a href="javascript:;" class="btn btn-danger" onclick="reset()">重置</a>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    function uploads() {

        $('#file').click();
        $('#file').on('change',function () {
            let formData=new FormData();
            formData.append('file',$('#file')[0].files[0]);
            $.ajax({
                url:'/admin/goods_upload',
                type:'post',
                data:formData,
                processData:false,
                contentType:false,
                success:function (response) {
                    if(response){
                        //上传成功
                        $('#img').attr('src',response);
                        $('#image-input').val(response);
                    }else{
                        //上传失败
                        layer.msg('图片上传失败',{icon:5,time:2000});
                        return false;
                    }
                }
            })
        })
    }
</script>

{/block}